body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf0f5;
    margin: 0;
    padding: 0;
  }
h1 {
    margin-top: 20px;
    font-size: 100px;
    text-align: center;
    color: #ffb6c1;
    text-shadow: 4px 4px 7px #e0218a;
    -webkit-text-stroke: 1px #e0218a;
}
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#ffb6c1;
    border: 4px, dashed, rgb(226, 62, 116);
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    margin-top: 20px;
}
a {
    color: #e0218a;
    font-size: 52px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: scale 0.8s;
    text-decoration: none;
    margin-top: 5px;
}
a:hover {
    text-shadow: 2px 2px 5px whitesmoke;
    scale: 1.2;
}
table {
    width: 70%;
    margin-left: 15%;
}

table, th, td {
    border: 2px solid rgb(224, 33, 138);
    border-collapse: collapse;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #fdf0f5;
    color: rgb(178, 1, 60);
}
table:hover, th:hover, td:hover {
    background-color: #ffb6c1;
}
.stroke{
    display: flex; 
    gap: 40px; 
    justify-content: center;
}
.block {
    border: 4px dotted #e0218a;
    border-radius: 100%;
    width: 400px;
    height: 140px;
    background-color: #ffb6c1;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 32px; 
    font-weight: bold; 
    text-align: center; 
    color: antiquewhite;
    text-shadow: 5px 5px 10px #d10073;
    -webkit-text-stroke: 0.4px #e0218a;
    animation: shine 3s infinite;
}
@keyframes shine{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 23px rgb(232, 79, 179);
    }
    100%{
        box-shadow: none;
    }
}
.logo {
    text-align: center;
    text-shadow: 3px 3px 3px;
    margin-top: 10px;
}
p {
    padding: 20px;
    max-width: 900px;
    margin:0 auto;
    margin-top: 50px;
    color: rgb(178, 1, 60);
    font-size: 20px;
}
video {
    margin-left: 10%;
}